body{
    background:#DDEF3F;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

/* Header */
.logo{
    max-height: 0px;
    width: auto;
    padding-left: 50px;
}
  
.header-title{
    background:#111931 ;
    float: left;
    padding-bottom: 10px;
    width:100%;
    color: white;
    text-align: center;
    font-size: 25px;
}

/* Body  1*/

.body1{
    background: #DDEF3F;
    padding-top:218px;
}

.title-body1{
    color: white;
    background: #111931;
    font-size: 30px;
    padding-top:0px;
    padding-left: 60px;
    padding-bottom: 0px;
    padding-right: 60px;
    display: flex;
    flex-wrap: nowrap;
    
}

.paragraph1{
    background: #111931;
    padding-top: 48px;
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 27px;
    color:white;
    display: inline-block;
}

/* Body 2 */
.body2{
    background:#DDEF3F; 
}

.paragraph-body2{
    background: #DDEF3F;
    padding-top:20px;
}

.title-paragraph-body2{
    color: white;
    background: #111931;
    font-size: 50px;
    padding-top:30px;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-right: 100px;
    text-align: center;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    
}

.paragraph-2{
    background: #111931;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    padding-right: 100px;
    font-size: 27px;
    color:white;
    /* display: inline-block; */
}

/* Body 3 */

.body3{
    background: #DDEF3F;
    padding-top:20px;
}

.title-body3{
    color: white;
    background: #111931;
    font-size: 30px;
    padding-top:0px;
    padding-left: 60px;
    padding-bottom: 0px;
    padding-right: 60px;
    display: flex;
    flex-wrap: nowrap;
    
}
.paragraph3{
    background: #111931;
    padding-top: 48px;
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 27px;
    color:white;
    display: inline-block;
}


/* paragraph */

.paragraph-body4{
    background: #DDEF3F;
    padding-top: 20px;
}

.title-paragraph-body4{
    color: white;
    background: #111931;
    font-size: 50px;
    padding-top:30px;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-right: 100px;
    text-align: center;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    
}

.paragraph-4{
    background: #111931;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    padding-right: 100px;
    font-size: 27px;
    color:white;
    /* display: inline-block; */
}

/* Footer */
.body5{
    background:#DDEF3F;
    padding-top: 20px;
}

footer{
    background:#111931;
    height:auto;
    /* width: 100vw; */
    /* padding-top: 40px; */
    padding-right: 0px;
    padding-left: 0px;
    color: white;
}

.footer-content{
    display: flex;
    align-items:center;
    /* justify-content:center; */
    flex-direction: column;
    text-align: center;
}

.footer-content h2 {
    font-size: 1.8rem;
    font-weight: 100;
    padding-left: 20px;
    text-transform: capitalize;
    line-height: 3rem;
    font-size: 40px;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}

.sosials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-right: 25px;
    
}

.sosials li{
    margin: 0 10px;
}

.sosials a {
    text-decoration: none;
    color:white;
}

.sosials a i {
    font-size: 1.1rem;
}

.sosials a:hover i {
    color:#DDEF3F;
}

.footer-bottom {
    /* background: #ddef3f;  */
    width:100vw;
    padding: 5px 0;
    text-align: center;
    font-size: 20px;
}

.footer-bottom p{
    padding-right: 35px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
} 
